DB_CONNECTION=development
NODE_ENV=development
PORT=5555
HAS_CERTIFICATE=false
LOG_LEVEL=info

GOOGLE_REDIRECT_URI=http://localhost:5555/google/callback
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
APP_URL=http://localhost:5555

WASABI_ACCESS_KEY=
WASABI_SECRET_KEY=
WASABI_BUCKET=laju-dev
WASABI_REGION=ap-southeast-1
WASABI_ENDPOINT=https://s3.ap-southeast-1.wasabisys.com
BACKUP_ENCRYPTION_KEY=
CDN_URL=

LOCAL_STORAGE_PATH=./storage
LOCAL_STORAGE_PUBLIC_URL=/storage

RESEND_API_KEY=
DRIPSENDER_API_KEY=
USER_MAILER=
PASS_MAILER=
