<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= it.title || "LAJU - Ship Your Next Project Faster" %></title>
<link rel="icon" type="image/png" href="/public/new-laju.png" />
<script type="module" src="<%= it.asset('src/index.js') %>"></script>
<link rel="stylesheet" href="<%= it.asset('src/index.css') %>" />

<link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&family=Fira+Code:wght@400;500&display=swap"
    rel="stylesheet"
/>

<style>
    /* Custom scrollbar for code block */
    .custom-scroll::-webkit-scrollbar {
        height: 6px;
    }

    .custom-scroll::-webkit-scrollbar-track {
        background: #1e293b;
    }

    .custom-scroll::-webkit-scrollbar-thumb {
        background: #475569;
        border-radius: 3px;
    }
</style>
